
.about1{
    width: 650px;
     
    padding-top: 13px;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255,0.4);
    color: rgb(117, 107, 107);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    border-radius: 5px;
    margin-top: 80px;
  
  }
  div h2{
      padding-left: 20px;
      font-size: 2rem;
      padding-top: 2px;
  
  }
  body{
      background-image: url(picb1.jpg);
      background-repeat: no-repeat;
      
      background-size: 100%;
  }
  div p{
   text-align:justify;
   line-height: 20px;
   letter-spacing: 2px;
   padding:10px;
   font-size: 1rem;
   display: block;
  }
  @media (max-width:720px) {
      html{
          font-size: 80%;
        }
      
  }
  @media (max-width:465px) {
      .about1{
          height: 700px;
          width: 200px;
        }
      
  }

  ol li{
      font-size: 1.2rem;
  }
  .main{

    text-align: center;
  }